* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9E79F;
    overflow: hidden;
}

.gameContainer {
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.player {
    background-image: url(player.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 12px;
}

.obstacle {
    width: 118px;
    height: 118px;
    background-image: url(car.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.animatePlayer {
    animation: player 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

.gameOver {
    position: relative;
    top: 63px;
    font-size: 43px;
    text-align: center;
    font-family: sans-serif;
}

#scoreCont {
    position: absolute;
    right: 23px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    width: 112px;
}

@keyframes player {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 422px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes obstacleAni {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}
